FriendsApi/FriendsApi/Service References/FriendsDomainService/Friends3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="friends.net/friendsDomain/2016/01" elementFormDefault="qualified" targetNamespace="friends.net/friendsDomain/2016/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64519/v1/Friends.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
  <xs:complexType name="Friend">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
</xs:schema>