FriendsApi/FriendsApi/Service References/FriendsDomainService/Friends.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://friends.net/friendsService/2016/01" elementFormDefault="qualified" targetNamespace="http://friends.net/friendsService/2016/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64519/v1/Friends.svc?xsd=xsd2" namespace="http://friends.net/friendsDomain/2016/01" />
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://friends.net/friendsDomain/2016/01" minOccurs="0" name="request" nillable="true" type="q1:GetFriendsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://friends.net/friendsDomain/2016/01" minOccurs="0" name="GetFriendsResult" nillable="true" type="q2:GetFriendsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>